body,
div,
ul,
ol,
dl,
dt,
dd,
li,
dl,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
  font-family: 'PingFang SC';
  font-style: normal;
}
ol,
ul,
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
body {
  color: #000000;
  background: #fff;
}
.clear {
  clear: both;
  height: 1px;
  width: 100%;
  overflow: hidden;
  margin-top: -1px;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

@keyframes loadingCircle {
  100% {
    transform: rotate(360deg);
  }
}
